<a href="https://colab.research.google.com/github/Mugil1410/Data-analysis-with-python/blob/main/Fundamentals_python_DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Get started

Variables declare:

In [1]:
a = 5;
b = 90;
helloworld = print
helloworld("hello world");

hello world

## Magic Method
1.   __add__ is a magic method that Python uses to implement the + operator.
2.   When you call b.__add__(8), it is equivalent to writing b + 8.

In [ ]:
mugil_weight = 106
mugil_weight.__add__(8)

114

## Class and Methods

classes and methods(function)

In [ ]:
#class
class MyClass:
  x = 5
  
obj = MyClass()
print(obj.x)

#function
def function_name():
  return 5

function_name()

5

5

classes and methods(function) combined

In [ ]:
title =  'SDE'
location =  'india'
salary = 10000

def display():
  print(title,location,salary)

class jobPost:
   def __init__(self,title,location,salary):
    self.title = title
    self.location = location
    self.salary = salary
    self.display = display()


job1 = jobPost(title,location,salary)
job1.display

SDE india 10000

## Data Types

In [ ]:
# Basic Data Types in Python

# 1. Integer (int)
# Represents whole numbers without a fractional component.
# Example: 1, 42, -7
num = 42
print(type(num))  # Output: <class 'int'>

# 2. Floating-Point (float)
# Represents numbers that have a fractional component (decimal point).
# Example: 3.14, -0.001, 2.718
pi = 3.14
print(type(pi))  # Output: <class 'float'>

# 3. String (str)
# Represents a sequence of characters, used for textual data.
# Example: "Hello", 'World', "123"
greeting = "Hello, World!"
print(type(greeting))  # Output: <class 'str'>

# 4. Boolean (bool)
# Represents truth values, used for logical operations.
# Example: True, False
is_python_easy = True
print(type(is_python_easy))  # Output: <class 'bool'>

# 5. List (list)
# Represents an ordered collection of items, which can be of different types.
# Example: [1, 2, 3], ['apple', 'banana', 'cherry']
fruits = ['apple', 'banana', 'cherry']
print(type(fruits))  # Output: <class 'list'>

# 6. Tuple (tuple)
# Represents an ordered collection of items, which are immutable (cannot be changed).
# Example: (1, 2, 3), ('red', 'green', 'blue')
colors = ('red', 'green', 'blue')
print(type(colors))  # Output: <class 'tuple'>

# 7. Dictionary (dict)
# Represents a collection of key-value pairs, used for mapping and associative arrays.
# Example: {'name': 'Alice', 'age': 25}, {'one': 1, 'two': 2}
person = {'name': 'Alice', 'age': 25}
print(type(person))  # Output: <class 'dict'>

# 8. Set (set)
# Represents an unordered collection of unique items.
# Example: {1, 2, 3}, {'apple', 'banana', 'cherry'}
unique_numbers = {1, 2, 3}
print(type(unique_numbers))  # Output: <class 'set'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

## Accessing attribute and methods (dot notation):
*   my_object.name -  Accessing attribute 'name' of 'my_object'
*   my_object.method() - Calling method 'method()' of 'my_object'

In [ ]:
name = 'mugil' + ' hari'
name.capitalize()

'Mugil hari'

## String operations

In [ ]:
'Data Analyst'.split(" ")

['Data', 'Analyst']

In [ ]:
'Mugilaananthan'.replace('A','a',1)

'Mugilaananthan'

In [ ]:
str.lower('SIZE')

'size'

In [ ]:
str.__add__('Mugil','Hari')

'MugilHari'

In [ ]:
'Mugil '.__add__('Hari')

'Mugil Hari'

In [ ]:
'Mugil ' + 'Hari'

'Mugil Hari'

In [ ]:
'Mugil ' * 3

'Mugil Mugil Mugil '

In [ ]:
len('mugil ')

6

In [ ]:
skill =  "python"; domain =  'analyst'
f"Hi i am {skill} {domain}"

'Hi i am python analyst'

In [ ]:
'i am {} from {}'.format('Mugil','India')

'i am Mugil from India'

## Conditional Statements

In [ ]:

# 1. if Statement
# Description: Executes a block of code if the condition is True.
# Example: Check if a number is positive
number = 10
# If the number is greater than zero, print a message
if number > 0:
    print("The number is positive")

# 2. if-else Statement
# Description: Executes one block of code if the condition is True and another block if the condition is False.
# Example: Check if a number is positive or negative
number = -5
# If the number is greater than zero, print "positive", else print "negative"
if number > 0:
    print("The number is positive")
else:
    print("The number is negative")

# 3. if-elif-else Statement
# Description: Executes one block of code if the first condition is True, another block if the second condition is True, and another block if all conditions are False.
# Example: Check if a number is positive, negative, or zero
number = 0
# If the number is greater than zero, print "positive", elif it is less than zero, print "negative", else print "zero"
if number > 0:
    print("The number is positive")
elif number < 0:
    print("The number is negative")
else:
    print("The number is zero")

# 4. Nested if Statement
# Description: You can use one if or else statement inside another if or else statement.
# Example: Check if a number is positive and even
number = 8
# If the number is greater than zero
if number > 0:
    # If the number is even, print "positive and even"
    if number % 2 == 0:
        print("The number is positive and even")
    # If the number is odd, print "positive and odd"
    else:
        print("The number is positive and odd")
# If the number is not greater than zero, print "not positive"
else:
    print("The number is not positive")

# 5. Ternary Conditional Operator
# Description: A short-hand way to write if-else statements, also known as the conditional expression.
# Example: Short-hand if-else statement
number = 5
# Assign "positive" if the number is greater than zero, else assign "non-positive"
result = "positive" if number > 0 else "non-positive"
print(result)  # Output: positive

The number is positive
The number is negative
The number is zero
The number is positive and even
positive

## Arithmetic Operations

In [ ]:
# 1. Addition (+)
# Adds two numbers together.
a = 5
b = 3
result = a + b
print("Addition:", result)  # Output: 8

# 2. Subtraction (-)
# Subtracts the second number from the first.
result = a - b
print("Subtraction:", result)  # Output: 2

# 3. Multiplication (*)
# Multiplies two numbers.
result = a * b
print("Multiplication:", result)  # Output: 15

# 4. Division (/)
# Divides the first number by the second, resulting in a float.
result = a / b
print("Division:", result)  # Output: 1.6666666666666667

# 5. Floor Division (//)
# Divides the first number by the second, resulting in an integer.
result = a // b
print("Floor Division:", result)  # Output: 1

# 6. Modulus (%)
# Returns the remainder of the division of the first number by the second.
result = a % b
print("Modulus:", result)  # Output: 2

# 7. Exponentiation (**)
# Raises the first number to the power of the second number.
result = a ** b
print("Exponentiation:", result)  # Output: 125

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667
Floor Division: 1
Modulus: 2
Exponentiation: 125

## Assignment and Comparative Operations

In [ ]:
# 1. Assignment Operators
# Description: Used to assign values to variables.
# Example: Assigning values to variables using =
x = 10
y = 5
print("x =", x)  # Output: x = 10
print("y =", y)  # Output: y = 5

# Additional Assignment Operators
x += 3  # Equivalent to x = x + 3
print("x += 3:", x)  # Output: x += 3: 13

x -= 2  # Equivalent to x = x - 2
print("x -= 2:", x)  # Output: x -= 2: 11

x *= 2  # Equivalent to x = x * 2
print("x *= 2:", x)  # Output: x *= 2: 22

x /= 4  # Equivalent to x = x / 4
print("x /= 4:", x)  # Output: x /= 4: 5.5

x //= 2  # Equivalent to x = x // 2
print("x //= 2:", x)  # Output: x //= 2: 2.0

x %= 3  # Equivalent to x = x % 3
print("x %= 3:", x)  # Output: x %= 3: 2.0

x **= 2  # Equivalent to x = x ** 2
print("x **= 2:", x)  # Output: x **= 2: 4.0

# 2. Comparative Operators
# Description: Used to compare two values.
# Example: Comparison operations
a = 10
b = 20

# Greater than (>)
print("a > b:", a > b)  # Output: a > b: False

# Less than (<)
print("a < b:", a < b)  # Output: a < b: True

# Greater than or equal to (>=)
print("a >= b:", a >= b)  # Output: a >= b: False

# Less than or equal to (<=)
print("a <= b:", a <= b)  # Output: a <= b: True

# Equal to (==)
print("a == b:", a == b)  # Output: a == b: False

# Not equal to (!=)
print("a != b:", a != b)  # Output: a != b: True

x = 10
y = 5
x += 3: 13
x -= 2: 11
x *= 2: 22
x /= 4: 5.5
x //= 2: 2.0
x %= 3: 2.0
x **= 2: 4.0
a > b: False
a < b: True
a >= b: False
a <= b: True
a == b: False
a != b: True

##List
List
Here's a quick comparison between these 4 container data types:

| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Type of Data     | Sequence                              | Mapping                              | Set                                | Sequence                          |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

Notes

- Used to store multiple ordered items in a single variable.
- Created using `[` and `]`.
- We won't be going into everything that we can do in a list.
- Common data types in lists: Integer, Float, String, Boolean, List, Dictionary, Tuple, Set, Object.
- You can include lists within lists.
- Easy to store information.  

Importance

Versatile for storing sequences of data. Pandas can convert lists into Series or DataFrame objects for analysis.

In [ ]:
# Define a list of data science jobs
job_skills = ['sql','tableau','excel',9,['mugil',1410]]
job_skills

['sql', 'tableau', 'excel', 9, ['mugil', 1410]]

In [ ]:
job_skills.append('python')
job_skills

['sql', 'tableau', 'excel', 9, ['mugil', 1410], 'python']

In [ ]:
job_skills.remove('sql')
job_skills

['tableau', 'excel', 9, ['mugil', 1410], 'python']

In [ ]:
job_skills.insert(2,'sql')
job_skills

['tableau', 'excel', 'sql', 9, ['mugil', 1410], 'python']

In [ ]:
job_skills[2]

'sql'

In [ ]:
#using try except to handle out of range list index
try:
  job_skills[10]
except Exception as e:
  print(e)

list index out of range

In [ ]:
job_skills.pop()
job_skills

['tableau', 'excel', 'sql', 9, ['mugil', 1410]]

In [ ]:
job_skills.sort()
job_skills

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
job_skills.reverse()
job_skills

Slicing Syntax:
* Syntax: `list[start:end:step]`  
    * `start`: The starting index (inclusive)
    * `end`: The ending index (exclusive)
    * `step`: Steps to take between items

In [ ]:
job_skills[0:2]

In [ ]:
#using steps
job_skills = ['sql','tableau','excel']
job_skills[::2]

In [ ]:
job_skills[::-1]

Joins

In [ ]:
luke = ['python','bigquery','r']
kelly = ['python','sql','looker']
total_skills = luke+kelly
total_skills

In [ ]:
#unpacking list
skill1,skill2,skill3 = luke
print(skill1)
print(skill2)
print(skill3)

In [ ]:
#use asertrick to manage to manu values while unpacking
skill1,*other_skills = total_skills
print(skill1)
print(other_skills)

## Dictnories

Here's a quick comparison between these 4 container data types:

| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Type of Data     | Sequence                              | Mapping                              | Set                                | Sequence                          |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

Notes
- Used to store multiple unordered key-value pairs in a single variable.

- Created using { and }.

- Common data types for keys and values in dictionaries: Integer, Float, String, Boolean, List, Dictionary, Tuple, Set, Object.

- Keys in dictionaries must be unique and immutable (e.g., strings, numbers, tuples).

- Values in dictionaries can be of any data type and can include lists or even other dictionaries.

- Efficiently store and retrieve data by key.

Importance
- Versatile for mapping and associating data.

- Frequently used to represent structured data (e.g., JSON format).

- Useful for quickly retrieving data based on a unique key.

- Pandas can convert dictionaries into Series or DataFrame objects for analysis.

In [ ]:
job_skills = {
    'database':'mongodb',
    'language':'python',
    'libary':'pandas'
}
job_skills

In [ ]:
job_skills['database']

In [ ]:
job_skills.get('database')

In [ ]:
job_skills.keys()

In [ ]:
job_skills.values()

In [ ]:
job_skills.pop('database')
job_skills

In [ ]:
job_skills.update({'database':'mongodb'})
job_skills

In [ ]:
job_skills['version control'] = 'git'
job_skills

## Set

Here's a quick comparison between these 4 container data types:

| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Type of Data     | Sequence                              | Mapping                              | Set                                | Sequence                          |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

Notes
- Used to store multiple unordered unique items in a single variable.

- Created using { and }.

- We won't be going into everything that we can do with sets.

- Common data types in sets: Integer, Float, String, Boolean, Tuple.

- Sets do not allow duplicate elements.

- Elements in sets are immutable, but the set itself is mutable; you can add or remove elements.

- Efficient for membership testing and eliminating duplicates.

Importance
- Versatile for storing unique items and removing duplicates.

- Frequently used for membership testing, i.e., checking if an element is in a set.

- Useful for performing mathematical operations like union, intersection, difference, and symmetric difference.

- Pandas can convert lists or Series to sets for unique operations and analysis.

In [ ]:
skills_sets={'python','ruby','mysql'}
skills_sets

In [ ]:
skills_sets.add('sql')
skills_sets

In [ ]:
skills_sets.remove('ruby')
skills_sets

In [ ]:
skills_sets.pop()
skills_sets

In [ ]:
# convert list to set and list to remove duplicate from the list
target_list = ['python','python','sql']
target_list = list(set(target_list))
target_list

## Tuple

Here's a quick comparison between these 4 container data types:

| Feature          | List                                  | Dictionary                           | Set                                | Tuple                             |
|------------------|---------------------------------------|--------------------------------------|------------------------------------|-----------------------------------|
| Syntax           | `[item1, item2, ...]`                 | `{'key1': value1, 'key2': value2}`   | `{item1, item2, ...}`              | `(item1, item2, ...)` or `item,`  |
| Type of Data     | Sequence                              | Mapping                              | Set                                | Sequence                          |
| Order            | Ordered                               | Unordered                            | Unordered                          | Ordered                           |
| Indexing         | Yes (by index)                        | Yes (by key)                         | No                                 | Yes (by index)                    |
| Duplicate Values | Allowed                               | Values can be duplicated, keys cannot| Not allowed                        | Allowed                           |
| Mutability       | Mutable                               | Mutable                              | Mutable                            | Immutable                         |
| Usage            | For a collection of ordered items     | For key-value pairs                  | For unique items                   | For fixed data                    |

Notes
- Used to store multiple ordered items in a single variable.

- Created using ( and ).

- We won't be going into everything that we can do with tuples.

- Common data types in tuples: Integer, Float, String, Boolean, List, Dictionary, Tuple, Set, Object.

- Tuples are immutable, meaning that once created, their elements cannot be changed.

- You can include tuples within tuples.

- Efficient for storing and accessing fixed collections of items.

Importance
- Versatile for storing fixed sequences of data.

- Frequently used for returning multiple values from functions.

- Useful for ensuring data integrity since tuples are immutable.

- Tuples can be used as keys in dictionaries due to their immutability.

- Pandas can convert tuples into Series or DataFrame objects for analysis.-

In [ ]:
tar_tup = ('python','sql','excel','excel')
tar_tup

In [ ]:
tar_tup[0]

In [ ]:
tar_tup[0:2]

In [ ]:
#count how many items in the list
tar_tup.count('excel')

In [ ]:
#find index of the element
tar_tup.index('excel')

In [ ]:
#adding item in tuple is not done by append method instead add two tuples
tar_tup += ('tableau','php')
tar_tup

In [ ]:
#to find object id of tar_tup
id(tar_tup)

## Range

In [ ]:
#range function
#Python range is a function that returns a sequence of numbers. By default, range returns a sequence that begins at 0 and increments in steps of 1

tuple(range(1,11,2))

## Logical Operators

Logical operators connect two or more conditions and evaluate the truth or falsity of the conditions combined.

| Operator | Name     | Example |
|----------|----------|---------|
| and      | Logical AND | x and y |
| or       | Logical OR  | x or y  |
| not      | Logical NOT | not x   |

In [ ]:
wfh = True
master_degree = False
insurance =  True


wfh and insurance and master_degree

In [ ]:
#not will check oppsite to condition
not True

In [ ]:
if wfh and insurance and master_degree:
  print('eligible for insurance')
else:
  print('not eligible for insurance')

## Identity Operators

Identity operators check if two variables occupy the same memory location, i.e., are identical.

| Operator | Name               | Example   |
|----------|--------------------|-----------|
| is       | Identity           | x is y    |
| is not   | Not identity       | x is not y|

In [ ]:
mugil = 'Good'
kanmani = 'good'
kanmani.upper() is mugil.upper()

## Membership Operators

Membership operators test for membership in a sequence, such as strings, lists, or tuples.

| Operator | Name            | Example   |
|----------|-----------------|-----------|
| in       | Membership      | x in y    |
| not in   | Not membership  | x not in y|

In [ ]:
"data" in 'data analyst'

In [ ]:
'Data' not in 'data analyst'

## Bitwise Operators

Bitwise operators perform bit-by-bit operations on binary numbers.

| Operator | Name        | Example |
|----------|-------------|---------|
| &        | Bitwise AND | x & y   |
| \|       | Bitwise OR  | x \| y  |
| ^        | Bitwise XOR | x ^ y   |
| ~        | Bitwise NOT | ~x      |
| <<       | Left Shift  | x << y  |
| >>       | Right Shift | x >> y  |

- Bitwise operations are beyond the scope of using Python for Data Analytics.  
- You could technically use `&` and `|` in place of `and` and `or` for Boolean comparison, BUT it's less readable.  
- You'll see the `&` and `|` operators pop up again when we cover Pandas.

In [ ]:
True & False

In [ ]:
True | False

In [ ]:
x = 10  # binary 1010
y = 4   # binary 0100
result = x & y  # binary 0000 -> decimal 0

result

In [ ]:
x = 10  # binary 1010
y = 4   # binary 0100
result = x | y  # binary 1110 -> decimal 14

result

## Loops
- while loops
- for loops

In [ ]:
for i in range(1,11,4):
  print(i)

  # first parameter is start value second is end value third is step (iterate step)

In [ ]:
tar_list = ['mugil','kanmani','roma','peter']

for i in tar_list:
  print(i)

In [ ]:
companies_hiring = {
    "Google": "Data Analysts",
    "Amazon": "Cloud Solutions Architects",
    "Microsoft": "Data Analysts",
    "Facebook": "Data Scientists",
    "Netflix": "Security Analysts",
    "Tesla": "Robotics Engineers",
    "IBM": "AI Researchers",
    "Accenture": "IT Consultants",
    "Deloitte": "Business Analysts",
    "PwC": "IT Auditors",
    "Capco": "Technology Associates",
    "Infosys": "Software Developers",
    "Mphasis": "Application Developers",
    "Randstad": "Data Analysts",
    "Verizon": "Network Engineers",
    "BNY": "Database Administrators",
    "Conneqt": "Operations Analysts",
    "Goibibo": "Data Analysts",
    "Maruti Suzuki": "Quality Control Engineers",
    "Target": "Supply Chain Analysts",
    "Adidas": "Digital Strategists",
    "Pepsico": "Logistics Managers",
    "Morgan Stanley": "Risk Managers",
    "Becton Dickinson": "Quality Assurance Engineers",
    "Focus KPI": "Data Visualization Specialists",
    "Affinity Solutions": "Client Solutions Engineers"
}

filtered_companies = []

for company,role in companies_hiring.items():
  if role == 'Data Analysts':
    filtered_companies.append(company)

set(filtered_companies)

In [ ]:
employee_skills = {
    "John Doe": ["Python", "Data Analysis", "Machine Learning"],
    "Jane Smith": ["JavaScript", "Web Development", "React"],
    "Emily Johnson": ["Project Management", "Agile", "Scrum"],
    "Michael Brown": ["Java", "Spring Boot", "Microservices"],
    "Sarah Davis": ["SQL", "Database Management", "ETL"],
    "David Wilson": ["AWS", "Cloud Computing", "DevOps"],
    "Laura Martinez": ["HTML", "CSS", "Graphic Design"],
    "Robert Garcia": ["C++", "Embedded Systems", "Robotics"],
    "Linda Rodriguez": ["Excel", "Financial Analysis", "Accounting"],
    "Daniel Lee": ["PHP", "Laravel", "Backend Development"],
    "Paul White": ["R", "Statistics", "Data Visualization"],
    "Karen Harris": ["SAP", "ERP Systems", "Business Analysis"],
    "James Clark": ["Python", "Machine Learning", "Deep Learning"],
    "Maria Lewis": ["Ruby", "Rails", "Web Development"],
    "Thomas Walker": ["C#", ".NET", "Software Development"],
    "Patricia Hall": ["Python", "Data Science", "NLP"],
    "Christopher Allen": ["Swift", "iOS Development", "UI/UX"],
    "Susan Young": ["Linux", "System Administration", "Network Security"],
    "Brian King": ["Python", "Big Data", "Hadoop"],
    "Nancy Wright": ["Customer Service", "Salesforce", "CRM"]
}

filtered_employees = {}

for employee,skills in employee_skills.items():
  if 'Python' in skills or 'Data Analysis' in skills:
    filtered_employees[employee] = skills

filtered_employees

In [ ]:
# Initialize the dictionary of employees and skills
employee_skills = {
    "John Doe": ["Python", "Data Analysis", "Machine Learning"],
    "Jane Smith": ["JavaScript", "Web Development", "React"],
    "Emily Johnson": ["Project Management", "Agile", "Scrum"],
    "Michael Brown": ["Java", "Spring Boot", "Microservices"],
    "Sarah Davis": ["SQL", "Database Management", "ETL"],
    "David Wilson": ["AWS", "Cloud Computing", "DevOps"],
    "Laura Martinez": ["HTML", "CSS", "Graphic Design"],
    "Robert Garcia": ["C++", "Embedded Systems", "Robotics"],
    "Linda Rodriguez": ["Excel", "Financial Analysis", "Accounting"],
    "Daniel Lee": ["PHP", "Laravel", "Backend Development"],
    "Paul White": ["R", "Statistics", "Data Visualization"],
    "Karen Harris": ["SAP", "ERP Systems", "Business Analysis"],
    "James Clark": ["Python", "Machine Learning", "Deep Learning"],
    "Maria Lewis": ["Ruby", "Rails", "Web Development"],
    "Thomas Walker": ["C#", ".NET", "Software Development"],
    "Patricia Hall": ["Python", "Data Science", "NLP"],
    "Christopher Allen": ["Swift", "iOS Development", "UI/UX"],
    "Susan Young": ["Linux", "System Administration", "Network Security"],
    "Brian King": ["Python", "Big Data", "Hadoop"],
    "Nancy Wright": ["Customer Service", "Salesforce", "CRM"]
}

# Initialize the filtered employees dictionary
filtered_employees = {}

# Convert the dictionary items into a list to use indexing
employee_list = list(employee_skills.items())

# Initialize the index
i = 0

# Use a while loop to iterate over the employees
while i < len(employee_list):
    employee, skills = employee_list[i]
    if 'Python' in skills or 'Data Analysis' in skills:
        filtered_employees[employee] = skills
    i += 1

# Output the filtered employees
print(filtered_employees)

## Functions

## Types of Functions

| Type of Function             | Example Function              |
|------------------------------|-------------------------------|
| Built-In functions           | `max()`                       |
| User-defined functions       | `def my_function(): pass`     |
| Lambda functions             | `lambda x: x + 1`             |
| Standard Library functions   | `math.sqrt()`                 |
| Third-Party Library Functions| `numpy.array()`               |


Note: We won't be covering Generator, Asynchronous, or Recursive Functions as they are out of scope of Data Analytics.

Built-in functions

In [ ]:
# Example 1: Print a string onto the screen
print("Hello, World!")

# Example 2: Print more than one object onto the screen
print("Hello", "World", "!")

# 2. type() function
# Type function returns the type of the object

# Example 1: Return the type of the following object
print(type(123))

# Example 2: Return the type of the following objects
print(type("Hello"))
print(type(3.14))

# 3. input() function
# Input function allows user input and returns it as a string

# Example: Use the prompt parameter to write the complete message after giving the input
user_input = input("Enter your name: ")
print("Hello, " + user_input)

# 4. abs() function
# Abs function returns the absolute value of a number

# Example 1: Return the absolute value of a negative number
print(abs(-7))

# Example 2: Return the absolute value of a complex number
print(abs(3 + 4j))

# 5. pow() function
# Pow function returns the value of a number raised to the power of another number

# Example 1: Return the value of 3 to the power of 4
print(pow(3, 4))

# Example 2: Return the value of 3 to the power of 4, modulus 5
print(pow(3, 4, 5))

# 6. dir() function
# Dir function returns a list of attributes and methods of any object (functions, modules, strings, lists, dictionaries, etc.)

# Example: Display the content of an object
print(dir(str))

# 7. sorted() function
# Sorted function returns a sorted list of the specified iterable's elements

# Example 1: Sort the specified tuple in ascending order
tuple1 = (3, 1, 4, 2)
print(sorted(tuple1))

# Example 2: Sort the specified tuple in descending order
print(sorted(tuple1, reverse=True))

# 8. max() function
# Max function returns the largest item in an iterable or the largest of two or more arguments

# Example 1: Return the name with the highest value, ordered alphabetically
names = ["Alice", "Bob", "Charlie"]
print(max(names))

# Example 2: Return the item in a tuple with the highest value
print(max(tuple1))

# 9. round() function
# Round function returns a floating point number rounded to the specified number of decimals

# Example 1: Round the specified positive number to the nearest integer
print(round(4.6))

# Example 2: Round the specified negative number to the nearest integer
print(round(-4.6))

# Example 3: Round the specified number to the nearest integer
print(round(4.5))

# 10. divmod() function
# Divmod function returns a tuple containing the quotient and the remainder when dividing the first argument by the second

# Example 1: Display the quotient and the remainder when 7 is divided by 3
print(divmod(7, 3))

# Example 2: Display the quotient and the remainder when 72 is divided by 6
print(divmod(72, 6))

# 11. id() function
# Id function returns the unique ID of an object

# Example 1: Return the unique id of a tuple object
tuple2 = (1, 2, 3)
print(id(tuple2))

# Example 2: Return the unique id of a string object
string = "Hello"
print(id(string))

# 12. ord() function
# Ord function returns the integer that represents the Unicode character

# Example 1: Return the integer that represents the character h
print(ord("h"))

# Example 2: Return the integer that represents the character H
print(ord("H"))

# 13. len() function
# Len function returns the number of items in an object

# Example 1: Return the number of items in a list
list1 = [1, 2, 3, 4]
print(len(list1))

# Example 2: Return the number of items in a string object
print(len("Hello"))

# 14. sum() function
# Sum function adds the items of an iterable and returns the sum

# Example 1: Start with the number 7, and add all the items in a tuple to this number
print(sum((1, 2, 3), 7))

# Example 2: Print the sum of all the elements of a list
print(sum(list1))

User defined function

In [ ]:
#user defined function with optional arugment
def calculate_salary(base_salary,bonus=200):
  total_salary = base_salary + bonus
  return total_salary

base_salary = 10000

calculate_salary(base_salary,900)

Lambda Function

In [ ]:
mul_two=lambda x: x + 1
mul_two(2)

In [ ]:
(lambda x: x + 1)(2)

List comprehensions

List comprehensions provide a concise way to create lists in Python. They are generally more compact and faster than traditional for loops

In [ ]:
salary_list = [2000,3002,3020,2030,2002]

def calculate_salary(base_salary,bonus=200):
  total_salary = base_salary + bonus
  return total_salary
#using lambda
new_salary_list = [(lambda x:x*1.1)(salary) for salary in salary_list]
new_salary_list
#using List comprehensions
new_salary_list = [calculate_salary(salary) for salary in salary_list]
new_salary_list

## Modules

In [ ]:
import mugil

In [ ]:
mugil.skills

['python', 'powerBi', 'Big query']

In [ ]:
mugil.giveText('Excel')

'Excel is good one'

In [ ]:
import job_analyzer

In [ ]:
job_analyzer.calculate_salary(10000,bonus=.5)

15000.0

In [ ]:
job_analyzer.calculate_bonus(15000,10000)

0.5

In [ ]:
type(.5)

float

In [ ]:
import statistics
tar_num = [300,300,294,667,829]
statistics.mean(tar_num)

478

In [ ]:
statistics.median(tar_num)

300

In [ ]:
statistics.mode(tar_num)

300

## Data Cleaning

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [ ]:
from datetime import datetime
import ast

test = data_science_jobs[0]['job_date']
final = datetime.strptime(test, '%Y-%m-%d')
final

datetime.datetime(2023, 5, 12, 0, 0)

In [ ]:
for job in data_science_jobs:
  job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')
  job['job_skills'] = ast.literal_eval(job['job_skills'])

In [ ]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'R', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'],
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': ['Python', 'PyTorch', 'AI Ethics'],
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]

## Pandas

In [ ]:
import pandas as pd

contents = pd.read_csv('sample_data/california_housing_test.csv')

contents

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
contents['total_bedrooms']

0        661.0
1        310.0
2        507.0
3         15.0
4        244.0
         ...
2995     642.0
2996    1082.0
2997     201.0
2998      14.0
2999     263.0
Name: total_bedrooms, Length: 3000, dtype: float64

In [ ]:
contents['total_bedrooms'].sum()

1589852.0

In [2]:
!pip install pyjokes

Collecting pyjokes
  Downloading pyjokes-0.8.3-py3-none-any.whl.metadata (3.4 kB)
Downloading pyjokes-0.8.3-py3-none-any.whl (47 kB)
    47.6/47.6 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pyjokes
Successfully installed pyjokes-0.8.3

In [5]:
import pyjokes

pyjokes.get_joke()

'Why do we want intelligent terminals when there are so many stupid users?'

## Classes

In [27]:
class BaseSalary:
  def __init__(self,base_salary,bonus_rate=.5,symbol="$"):
    self.base_salary = base_salary
    self.bonus_rate = bonus_rate
    self.symbol = symbol
    self.total_salary =  base_salary * (1+bonus_rate)
    self.bonus = base_salary * bonus_rate

  def __repr__(self):
    return f"{self.symbol}{self.base_salary:,.0f}"

  def calculate_salary(self):
    return f"{self.symbol}{self.total_salary:,.0f}"

  def calculate_bonus(self):
    return f"{self.symbol}{self.bonus:,.0f}"

In [28]:
salary = BaseSalary(100000)

In [29]:
salary.calculate_salary()

'$150,000'

In [30]:
salary.calculate_bonus()

'$50,000'

In [31]:
BaseSalary(100000,symbol='')

100,000

## Multi Threading

In [ ]:
import threading
import time

def task1():
    print("Task 1 started")
    time.sleep(2)  # Simulate some work
    print("Task 1 finished")

def task2():
    print("Task 2 started")
    time.sleep(3)  # Simulate some work
    print("Task 2 finished")

if __name__ == "__main__":
    # Create two threads
    thread1 = threading.Thread(target=task1)
    thread2 = threading.Thread(target=task2)

    # Start the threads
    thread1.start()
    thread2.start()

    # Wait for the threads to complete
    thread1.join()
    thread2.join()

    print("All tasks finished")