<a href="https://colab.research.google.com/github/Mugil1410/Data-analysis-with-python/blob/main/Numpy_for_DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#get 1,000,000 salaries list
import random
salaries = [random.randint(50000,100000) for _ in range(10_000_000)]

In [ ]:
import statistics

In [15]:
%%timeit
statistics.median(salaries)

3.67 s ± 532 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [10]:
import numpy as np

In [17]:
%%timeit
np.median(salaries)

688 ms ± 36.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)