In [1]:
from datasets import load_dataset
import pandas as pd
import matplotlib.pyplot as plt

#load data
dataSet = load_dataset('lukebarousse/data_jobs')
df = dataSet['train'].to_pandas()

#clean data
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\Booheymen\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Sample

In [ ]:
# load sample random data from data set 
df.sample(5)

# if random you want same data on each time use randomstate
df.sample(5, random_state=42)  # same data each time

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
502901,Senior Data Engineer,Senior Data Engineer,"St Paul, MN",via BeBee,Full-time,False,"Florida, United States",2023-12-17 11:09:06,False,False,United States,None,NaN,NaN,ManpowerGroup,"['sql', 'azure', 'git']","{'cloud': ['azure'], 'other': ['git'], 'progra..."
406337,Senior Data Scientist,Senior Analytics Engineer,"London, UK",via LinkedIn,Full-time,False,United Kingdom,2023-10-06 16:09:56,False,False,United Kingdom,None,NaN,NaN,Harnham,"['sql', 'python', 'bigquery', 'snowflake', 'lo...","{'analyst_tools': ['looker'], 'cloud': ['bigqu..."
659951,Data Engineer,Data Engineer,"Newcastle upon Tyne, UK",via Indeed,Full-time,False,United Kingdom,2023-09-06 10:11:25,True,False,United Kingdom,None,NaN,NaN,Morgan King,None,None
541593,Data Analyst,Data Analyst,Malta,via Trabajo.org,Full-time,False,Malta,2023-02-14 21:14:18,True,False,Malta,None,NaN,NaN,Konnekt,['jira'],{'async': ['jira']}
425158,Senior Data Engineer,Senior Data Engineer. Job in Amsterdam NBC4i Jobs,"Amsterdam, Netherlands",via NBC4i Jobs,Full-time,False,Netherlands,2023-06-19 16:34:30,True,False,Netherlands,None,NaN,NaN,Independent Recruiters,['python'],{'programming': ['python']}

## Copy

In [15]:
# manually copy a dataset of df to dfCopy
dfCopy  = df

# update data in copy
dfCopy['salary_hour_avg'] = dfCopy['salary_hour_avg'].fillna(dfCopy['salary_hour_avg'].median())
dfCopy['salary_hour_avg']

0         45.98
1         45.98
2         45.98
3         45.98
4         45.98
          ...
785736    45.98
785737    45.98
785738    45.98
785739    45.98
785740    45.98
Name: salary_hour_avg, Length: 785741, dtype: float64

In [16]:
#now we updated dfCopy but this changes affect in df 
df['salary_hour_avg']

0         45.98
1         45.98
2         45.98
3         45.98
4         45.98
          ...
785736    45.98
785737    45.98
785738    45.98
785739    45.98
785740    45.98
Name: salary_hour_avg, Length: 785741, dtype: float64

In [ ]:
# if we update in dfCopy that reflects in df also, to verify that
# first check ids thses above two have same ids
id(df) == id(dfCopy)

True

In [22]:
#load data
dataSet = load_dataset('lukebarousse/data_jobs')
df = dataSet['train'].to_pandas()

#clean data
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [23]:
# to avoid this, we make a copy of df to dfCopy
dfCopy = df.copy()

#now we compare ids this time both are different
id(df) == id(dfCopy)

# when we made chnages in dfCopy this not affect in oroginal df dataSet
# update data in copy
dfCopy['salary_hour_avg'] = dfCopy['salary_hour_avg'].fillna(dfCopy['salary_hour_avg'].median())
dfCopy['salary_hour_avg']

0         45.98
1         45.98
2         45.98
3         45.98
4         45.98
          ...
785736    45.98
785737    45.98
785738    45.98
785739    45.98
785740    45.98
Name: salary_hour_avg, Length: 785741, dtype: float64

In [24]:
df['salary_hour_avg']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
785736   NaN
785737   NaN
785738   NaN
785739   NaN
785740   NaN
Name: salary_hour_avg, Length: 785741, dtype: float64